body {
	background-color: #F7F7F7;
	background-repeat: no-repeat;
}
.nav{
	border:4px solid #FF8900;
	border-width:5px 0;
	list-style:none;
	margin:0;
	padding:0;
	text-align:center;
}
.nav a {
	color:#FF8900;
	font-size: 20px;
	font-family: 'helvetica neue';
	font-weight: bold;
	padding: 10px 5px;
	display:inline-block;

}
.nav li {
	display: inline;
}
.jumbotron {
	font-family: 'helvetica neue';
	text-align: center;
	font-weight: bold;
	color:#FF8900;
	padding-top: 120px;
	padding-bottom: 145px;
}
.jumbotron h1 {
	font-size: 100px;
}
.jumbotron p {
	font-size: 100px;
}
.second {
	font-family: 'helvetica neue';
	text-align: center;
	font-weight: bold;
	color:#FF8900;
	padding-right: 220px;
	padding-left: 220px;
	padding-bottom: 100px;
}
.content img {
	display: block;
	margin: 0 auto;
}
.third {
	font-family: 'helvetica neue';
	text-align: center;
	font-weight: bold;
	color:#FF8900;
	padding-right: 220px;
	padding-left: 220px;
	padding-top: 80px;
}
.reference h3 {
	font-family: 'helvetica neue';
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	color:#FF8900;
}
.danes {
	display: block;
	padding-top: 100px;
	padding-bottom: 50px;
}
.danes iframe {
	display: block;
	margin: 0 auto;
}
