body {
	background-color: #FF4E01;
}
.nav{
	border:4px solid #000000;
	border-width:4px 0;
	list-style:none;
	margin:0;
	padding:0;
	text-align:center;
}
.nav a {
	color:#000000;
	font-size: 20px;
	font-family: 'helvetica neue';
	font-weight: bold;
	padding: 14px 10px;
	display:inline-block;

}
.nav li {
	display: inline;
}
.jumbotron {
	font-family: 'helvetica neue';
	text-align: center;
	font-weight: bold;
}
.jumbotron h1 {
	font-size: 100px;
}
.jumbotron p {
	font-size: 50px;
}